<p>
  Sensini Valitiana,
  (picture here)
</p>

<mat-grid-list cols="2">
  <mat-grid-tile>
    <div>
      <p>
        Technologies: c#, java, html, javascript, typescript, react, angular, python, SQL
      </p>
      <p>contact (popup component)</p>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <p>
        I'm an aspiring full-stack developer.
        I've had a passion for creating things since I was a kid
        and that has led me to pursue a career in software development.
        <br>
        Resume available upon request.
        <br>
        s.valitiana at gmail.com
      </p>

  </mat-grid-tile>
</mat-grid-list>
